@using SBMS.Models
@model IEnumerable<SBMS.Models.Product>

@{
    ViewBag.Title = "Product Catalog";
}

<ul class="navProduct">
    @if (Model != null)
    {
        foreach (Product item in Model)
        {
        <li>
            <div>
                <img src="@Url.Content("~/Content/themes/base/images/" + item.Icon)" alt="@item.Name" />
                @*</h3>*@
                <h3>@item.Name</h3>
                @*</h3>*@
                <h4>@item.PunchLine</h4>
                <p>@item.Message</p>
                <h3>$@item.Price</h3>
                <br />
                <span>@Html.ActionLink("Add To Cart", "AddToCart", "Cart", new { id = item.ProductId }, string.Empty)</span>
            </div>
        </li>
        }
    }
</ul>