@model SBMS.Models.Product

@{
    ViewBag.Title = "Details";
}

<fieldset>
    <legend>Product</legend>

    <div class="display-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Icon)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Icon)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.PunchLine)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PunchLine)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Message)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Message)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }) |
	@Html.ActionLink("Back to List", "Index")
</p>