@model IEnumerable<SBMS.Models.Product>

@{
    ViewBag.Title = "Cart";
}

@{decimal totalCartPayment = (decimal)Session["TotalCartPayment"];}

@if (totalCartPayment > 0)
{
    //ViewBag.Message = "When you are done, hit check out!";
}
else
{
    ViewBag.Message = "Your cart is empty!";
}

<ul class="navProduct">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
        <li>
            <div>
                <img src="@Url.Content("~/Content/themes/base/images/" + item.Icon)" alt="@item.Name" />
                @*</h3>*@
                <h3>@item.Name</h3>
                @*</h3>*@
                <h4>@item.PunchLine</h4>
                <p>@item.Message</p>
                <h3>$@item.Price</h3>
                <br />
                <span>@Html.ActionLink("Remove From Cart", "RemoveFromCart", "Cart", new { id = item.ProductId }, string.Empty)</span>
            </div>
        </li>
        }
    }
</ul>

<h4>Total amount:
	$@totalCartPayment
</h4>

@if ((decimal)Session["TotalCartPayment"] > 0)
{
    <span id="checkout">@Html.ActionLink("Checkout", "Create", "Order")</span>
}