@model SBMS.Models.ProjectIssue

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ProjectIssue</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProjectId, "Project Title")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ProjectId", String.Empty)
            @Html.ValidationMessageFor(model => model.ProjectId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Issue)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Issue)
            @Html.ValidationMessageFor(model => model.Issue)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}