@using SBMS.Models
@model IEnumerable<SBMS.Models.Customer>

@{
    ViewBag.Title = "Index";
}

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table>
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectTitle)
        </th>
    </tr>

    @foreach (Customer item in Model)
    {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectTitle)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.CustomerId })
            </td>
        </tr>
    }
</table>