@model IEnumerable<SBMS.Models.Order>

@{
    ViewBag.Title = "Index";
}

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table>
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.CartId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardHolderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecurityCode)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.TotalOrderPayment)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CartId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardHolderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecurityCode)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.TotalOrderPayment)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.OrderId }) |
				@Html.ActionLink("Details", "Details", new { id = item.OrderId }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.OrderId })
            </td>
        </tr>
    }
</table>
