@model SBMS.Models.MeetingAndEvent

@{
    ViewBag.Title = "Details";
}

<fieldset>
    <legend>MeetingAndEvent</legend>

    @*    <div class="display-label">
        @Html.LabelFor(model => model.Title)
    </div>*@
    <div class="display-label">
        @Html.LabelFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    @*    <div class="display-label">
        @Html.LabelFor(model => model.Note)
    </div>*@
    <div class="display-label">
        @Html.LabelFor(model => model.Note)
    </div>
    <div class="display-field">
        @Html.TextAreaFor(model => model.Note)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MeetingAndEventId }) |
    @Html.ActionLink("Back to List", "Index")
</p>