@{
    ViewBag.Title = "Employee Portal";
}

<div class="navPortalItem">
    <h3>@Html.ActionLink("Support Requests", "Index", "SupportRequest", null, new { target = "_blank" })</h3>
    <span>Access user submitted support requests</span>
</div>

<br />
<hr />

<div class="navPortalItem">
    <h3>@Html.ActionLink("Contract Proposals", "Index", "ContractProposal", null, new { target = "_blank" })</h3>
    <span>Access user submitted contract proposals</span>
</div>

<div class="navPortalItem">
    <h3>@Html.ActionLink("Query Contract Proposals", "Query", "ScheduleBudgetQuery", null, new { target = "_blank" })</h3>
    <span>Query a contract proposal by username for info about its proposed schedule and budget</span>
</div>

<br />
<hr />

<div class="navPortalItem">
    <h3>@Html.ActionLink("Projects", "Index", "Project", null, new { target = "_blank" })</h3>
    <span>Once a contract proposal is approved, it is added as a project</span>
</div>

<div class="navPortalItem">
    <h3>@Html.ActionLink("Project Issues", "Index", "ProjectIssue", null, new { target = "_blank" })</h3>
    <span>Access employee submitted project issues</span>
</div>

<div class="navPortalItem">
    <h3>@Html.ActionLink("Project Milestones", "Index", "Milestone", null, new { target = "_blank" })</h3>
    <span>Access employee submitted project milestones</span>
</div>

<br />
<hr />

<div class="navPortalItem">
    <h3>@Html.ActionLink("Customers", "Index", "Customer", null, new { target = "_blank" })</h3>
    <span>Once a contract proposal is approved, the user added as a customer</span>
</div>

<div class="navPortalItem">
    <h3>@Html.ActionLink("Customer Issues", "Index", "CustomerIssue", null, new { target = "_blank" })</h3>
    <span>Access employee submitted customer issues</span>
</div>

<br />
<hr />

<div class="navPortalItem">
    <h3>@Html.ActionLink("Meetings And Events", "Index", "MeetingAndEvent", null, new { target = "_blank" })</h3>
    <span>General notes</span>
</div>