@model SBMS.Models.ContractProposal

@{
    ViewBag.Title = "Details";
}

<fieldset>
    <legend>ContractProposal</legend>

    @*<div class="display-label">
        @Html.LabelFor(model => model.UserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserId)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Username)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Username)
    </div>*@

    <div class="display-label">
        @Html.LabelFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.StartDate, "Start Date")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDate)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.EndDate, "End Date")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndDate)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Budget)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Budget)
    </div>

    <div class="display-label">
        @*@Html.LabelFor(model => model.Issues)*@
        Our interactions have been shown here:
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.Issues)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.ContractProposalId})
</p>